{% set active = "categories" %}
{% extends "user/_layout.html" %}

{% block title %} blog view {% endblock %}

{% block content %}

	
	<div class="section search-result-wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="heading">Category: {{ category_name }}</div>
				</div>
			</div>
			<div class="row posts-entry">
				<div class="col-lg-8">
					{% for article in article_category %}
					<div class="blog-entry d-flex blog-entry-search-item">
						<a href="{{ url_for('user.article_detail', article_id=article.id) }}" class="img-link me-4">
							<img src="/static/uploads/{{ article.image }}" alt="Image" class="img-fluid">
						</a>
						<div>
							<span class="date">{{ article.date }} &bullet; <a href="#">{{article.cat_name}}</a></span>
							<h2><a href="{{ url_for('user.article_detail', article_id=article.id) }}">{{ article.title }}</a></h2>
							<p>{{ sub_words(article.content, 20) }}... </p>
							<p><a href="{{ url_for('user.article_detail', article_id=article.id) }}" class="btn btn-sm btn-outline-primary">Read More</a></p>
						</div>
					</div>
					{% endfor %}
					

					<div class="row text-start pt-5 border-top">
						<div class="col-md-12">
							<div class="custom-pagination">
								<span>1</span>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<span>...</span>
								<a href="#">15</a>
							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 sidebar">
					
					<div class="sidebar-box search-form-wrap mb-4">
						<form action="#" class="sidebar-search-form">
							<span class="bi-search"></span>
							<input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
						</form>
					</div>
					<!-- END sidebar-box -->
					<div class="sidebar-box">
						<h3 class="heading">View other topics</h3>
						<div class="post-entry-sidebar">
							<ul>
								{% for article in random_articles %}
									<li>
										<a href="{{ url_for('user.article_detail', article_id=article.id) }}">
											<img src="/static/uploads/{{ article.image }}" alt="Image placeholder" class="me-4 rounded">
											<div class="text">
												<h4>{{ article.title }}</h4>
												<div class="post-meta">
													<span class="mr-2">{{ article.date }}</span>
												</div>
											</div>
										</a>
									</li>
								{% endfor %}


								
							</ul>
						</div>
					</div>
					<!-- END sidebar-box -->

					<div class="sidebar-box">
						<h3 class="heading">Categories</h3>
						<ul class="categories">
							 {% for category in categories %}
								<li><a href="{{ url_for('user.category_page', category_name=category.category_name) }}">{{ category.category_name }} <span>({{ category.article_count }})</span></a></li>
							{% endfor %}
						</ul>
					</div>
					<!-- END sidebar-box -->

					<!--<div class="sidebar-box">
						<h3 class="heading">Tags</h3>
						<ul class="tags">
							<li><a href="#">Travel</a></li>
							<li><a href="#">Adventure</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Freelancing</a></li>
							<li><a href="#">Travel</a></li>
							<li><a href="#">Adventure</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Freelancing</a></li>
						</ul>
					</div>-->

				</div>
			</div>
		</div>
	</div>

	
{% endblock %}